.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #191414;
    border-radius: 8px;
    box-shadow: 0 2px 4px #191414;
    background-color: #191414;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.content-one {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #191414;
  border-radius: 8px;
  box-shadow: 0 2px 4px #191414;
  background-color: #191414;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
}

.publish-btn {
  appearance: none;
  margin-right: 5px;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.publish-btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.publish-btn:hover {
  background-color: #2c974b;
}

.publish-btn:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.publish-btn:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.publish-btn:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.delete-btn {
  appearance: none;
  background-color: #a42e2e;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.delete-btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.delete-btn:hover {
  background-color: #972c2c;
}
.delete-btn:focus {
  box-shadow: rgba(164, 46, 46, 0.4) 0 0 0 3px;
  outline: none;
}

.delete-btn:disabled {
  background-color: #d39494;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.delete-btn:active {
  background-color: #8e2929;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.text-one {
    font-size: 40px;
    color: white;
    margin-right: 10px;
}

.additional-text {
    font-size: 30px;
    color: gray;
    margin-right: 10px;
}

.image-content {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-right: 10px;
}
.image-content-one {
  width: 500px;
  height: 500px;
  border-radius: 15px;
  margin-right: 10px;
}
.one-text {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}

.content-add-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.content-add {
    max-width: 800px;
    margin: 10px 0;
    padding: 20px;
    border: 1px solid #191414;
    border-radius: 8px;
    box-shadow: 0 2px 4px #191414;
    background-color: #191414;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    color: white;
    width: 100%;
}

.review-btn {
  appearance: none;
  margin-right: 5px;
  background-color: #3f298e;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-bottom: 10px;
}

.review-btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.review-btn:hover {
  background-color: #3f298e;
}

.review-btn:focus {
  box-shadow: 3f298e(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.review-btn:disabled {
  background-color: #3f298e;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.review-btn:active {
  background-color: #3f298e;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.upload-btn {
  appearance: none;
  margin-right: 5px;
  background-color: #8e297f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-bottom: 10px;
}

.upload-btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.upload-btn:hover {
  background-color: #8e297f;
}

.upload-btn:focus {
  box-shadow: 3f298e(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.upload-btn:disabled {
  background-color: #8e297f;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.upload-btn:active {
  background-color: #8e297f;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.see-all-btn {
  appearance: none;
  margin-right: 5px;
  background-color: #29818e;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-bottom: 10px;
}

.see-all-btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.see-all-btn:hover {
  background-color: #29818e;
}

.see-all-btn:focus {
  box-shadow: 3f298e(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.see-all-btn:disabled {
  background-color: #29818e;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.see-all-btn:active {
  background-color: #29818e;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.see-all-rev-btn {
  appearance: none;
  margin-right: 5px;
  background-color: #18613b;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-bottom: 10px;
}

.see-all-rev-btn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.see-all-rev-btn:hover {
  background-color: #18613b;
}

.see-all-rev-btn:focus {
  box-shadow: 3f298e(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.see-all-rev-btn:disabled {
  background-color: #18613b;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.see-all-rev-btn:active {
  background-color: #18613b;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
.content-rev {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #191414;
  border-radius: 8px;
  box-shadow: 0 2px 4px #191414;
  background-color: #191414;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.rev-text {
  font-size: 20px;
  color: rgb(0, 180, 3);
  margin-right: 10px;
}
.rev-container {
  display: flex;
  flex-direction: column;
}
.rev-main-text {
  font-size: 30px;
  color: white;
}
.additional-text-rev {
  font-size: 20px;
  color: gray;
}